@model IEnumerable<advokatplus.Models.Posts.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Post ID: @item.PostID
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.PostName</h5>
                    <p class="card-text">
                        @{
                            var PostDesc = item.PostDescription;
                            PostDesc = PostDesc.Length >= 50 ? PostDesc.Substring(0, 50) : PostDesc;
                        }

                        @PostDesc
                    </p>
                    <a asp-action="Details" asp-route-id="@item.PostID" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    }
</div>
